{% extends 'base.html' %}

{% block title %}Select Destination{% endblock %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Vehicle UI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Text Size</a>
          <ul class="dropdown-menu">
            <li style="padding:10px;">Change text size relative to default size</li>
            <li style="padding:10px;"><span id="slider-value">1 </span><input id="slider" type="range" min="0.5" max="3" value="1" step="0.1" onchange="changeTextSize()"></li>
            <li style="padding:10px;"><button class="btn btn-primary" id="default-text-size" onclick="changeTextSizeToDefault()">
              Reset Text Size
            </button></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="time"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="date"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% endblock %}

{% block content %}
<div class="container" id="main-content">
  <h2 class="pt-3 pb-3">Current location: London</h2>
  <h2 class="pt-3 pb-3">Destination Selection</h2>
  <form action="{{ url_for('travelui.index') }}" method="post">
        <h3 class="pt-3 pb-3">Preferences</h3>
        <p>Do you want to see fuel statistics?</p>
        <select class="form-control" name="fuel" id="fuel" required>
          <option value="">Please Select</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
        <p>Do you want to see the latest news?</p>
        <select class="form-control" name="news" id="news" required>
          <option value="">Please Select</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
        <p>Do you want to see the latest traffic news?</p>
        <select class="form-control" name="traffic" id="traffic" required>
          <option value="">Please Select</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
        <p>Do you want to see the remaining journey time?</p>
        <select class="form-control" name="time" id="time" required>
          <option value="">Please Select</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
        <!-- Choose between input field destination or button destination -->
        <h3 class="pt-3 pb-3">Option 1: Enter your destination</h3>
        <input id="destination" style="border-radius:20px;" name="destination" type="text" placeholder="Destination" class="form-control" aria-label="Destination" aria-describedby="basic-addon1" autocomplete="off">
        <div class="col-sm-6 pb-3 pt-3"><button type="submit" style="border-radius:20px;" class="btn btn-primary"><i class="fas fa-search"></i></button></div>
  <h3 class="pt-3 pb-3">Option 2: Choose your most frequently visited destination</h3>
  <div class="col-sm-6 pb-3 pt-3">
      <input type="hidden" id="destination2" name="destination2" value="CV4 7AL">
      <button type="submit" class="btn btn-primary">University of Warwick CV4 7AL</button>
  </div>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/@ideal-postcodes/address-finder-bundled/dist/address-finder.js"></script>
<script>
  
  IdealPostcodes.AddressFinder.setup({
    inputField: "#destination", // Target <input> to host Address Finder
    apiKey: "ak_krnotz7a4JgJOZuJ26lNGtQeu4aso", // API Key from your account
    outputFields: { // Postcode appears in field with id destination
     postcode: '#destination'
  }
  });
  document.getElementById("destination").setAttribute("autocomplete", "off");

  function updateTime() {
    var today = new Date();
    var hours = today.getHours();
    var minutes = today.getMinutes();
    if (hours < 10) {
      hours = "0" + hours;
    }
    if (minutes < 10) {
      minutes = "0" + minutes;
    }
    if (hours == 0 && minutes == 0) {
      setDate();
    }
    document.getElementById("time").innerHTML = hours + ":" + minutes;
  }

  function setDate() {
    var today = new Date();
    var year = today.getFullYear();
    var month = today.getMonth() + 1;
    var day = today.getDate();
    var minutes = today.getMinutes();
    if (day < 10) {
      day = "0" + day;
    }
    if (month < 10) {
      month = "0" + month;
    }
    document.getElementById("date").innerHTML = day + "/" + month + "/" + year;
  }
  updateTime();
  setInterval(updateTime, 10000);
  setDate();

  function changeTextSize() {
  	document.getElementById("slider-value").innerHTML = document.getElementById("slider").value;
    document.getElementById("main-content").style.fontSize = document.getElementById("slider").value + "em";
  }

  function changeTextSizeToDefault() {
  	document.getElementById("main-content").style.fontSize = "1em";
    document.getElementById("slider").value = "1";
    document.getElementById("slider-value").innerHTML = document.getElementById("slider").value;
  }

</script>

{% endblock %}